body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #EDEDEE;
}

a{
  color: inherit;
}

.list-group-flush{
  color: #495057;
  margin-top: 1rem;
}

.active{
  background-color: #e9ecef !;
}

main {
  background-color: #EDEDEE;
}

.navbar-brand{
  margin-left: 15px;
  color: #2196f3 !important;
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}


.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 270px;
  background: #fff;
}

#content{
  margin-left: 270px;
  margin-top: -1rem;
}    


.sidebar-fixed .logo-wrapper img{
  width: 100%;
  padding: 2.5rem;
}

.list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  color: #49505B;
  text-decoration: none;
  background-color: #f8f9fa
}

.list-group-item:hover {
  color: #49505B;
  text-decoration: none;
  background-color: #f8f9fa
}


.list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.card-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.card-subtitle{
  font-size: 1.25rem;
  font-weight: 600;
}

.full {
  height: 70vh;
}

.bad-gateway-row {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.card .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card h3, .card.card-cascade h4 {
  margin-bottom: 0px;
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .fa {
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}

.form-inline{
  flex-flow: unset
}

.breadcrumb{
  margin: 0;
}

.activeClass .list-group-item {
  z-index: 5;
  color: #fff;
  border-color: #007bff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px !important;
  background-color: #007bff !important;
}

.page-footer{
  margin-left: 270px;
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }

  #content{
    margin-left: 0px;
  }

  .page-footer{
    margin-left: 0px;
  }
  
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  } 
}

@media (max-width: 576px) { 
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }

  #breadcrumb{
    flex-direction: column;
  }
}

/* ---- */
.Login-form-input {
  border-style: none;
  border-bottom: 1px solid black;
  outline: none;
}

.Login-form-button {
  border: 0;
  background: rgba(0,0,0,0.1);
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
  width: inherit;
  overflow: scroll;
}

.App-header-h1 {
  text-align: left;
  margin-left: 6.5rem;
}

.App-users {
  display: grid;
  grid-template-columns: repeat(auto-fit, 16rem);
  grid-gap: 1rem;
  justify-content: center;
  align-items: baseline;
  width: inherit;
  background: inherit;
}

.App-users-items {
  border: 1px solid black;
  border-radius: 3px;
  width: 15rem;
  height: 15rem;
  box-shadow: 3px 3px 3px grey;
  overflow: scroll;
  display: grid;
  justify-content: center;
  align-content: flex-start;
}

.App-users-items-display-name {
  border-bottom: 1px solid black;
}

.App-users-items-group {
  display: grid;
  grid-template-columns: .5fr 1fr;
}

.App-users-items-group-img {
  width: 3rem;
  justify-self: center;
}

.App-users-items-group-repo {
}

.App-users-items-commit {
  color: #ffb100;
  background: #1876d2;
}

.App-users-items-ul {
  display: grid;
  width: 80%;
  padding: 0;
  margin: 0;
  justify-self: center;
}

.App-users-items-ul-li {
  list-style: circle;
  text-align: left;
}

.profile {
  display: flex;
  flex-flow: wrap;
}

.profile-user {
  width: 20rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  color: #747373;
}

.profile-user h2 {
  color: black;
}

.profile-user h3 {
  color: #3f51b5;
}

.profile-user-image {
  min-width: 100%;
  max-width: 100%;
}

.profile-user-url {
  justify-self: center; 
}

.repos {
  display: grid;
  grid-template-columns:  repeat(auto-fill, 22rem);
  grid-gap: 5rem;
  justify-content: space-around;
}

.repo {
  width: 21rem;
  height: 23rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-weight: 400;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  overflow: hidden;
}

.repo-image {
  max-width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.repo-body {
  padding: 1rem;
}

.repo-body-title {
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
  height: 3rem;
  margin: 0;
}

.repo-body-text {
  color: #747373;
  font-size: 0.9rem;
  font-weight: 400;
  height: 3rem;
  overflow: scroll;
}

.repo-body-footer {
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
  width: 30rem;
  display: grid;
  margin-left: -1rem;
  height: 10rem;
  align-self: center;
  padding: .5rem;
}

.repo-comparisons {
  height: 100%;
}
.repo-comparisons-recommendation {
  height: 35.2rem;
  overflow: scroll;
}

table {
  table-layout: fixed;
}

table th {
  font-weight: 500;
/*  font-size: 1.5rem;*/
}

table tr {
  overflow: scroll;
}

/* Table CSS */
.table-repo-name {
/*  width: 10rem;*/
}

.table-repo-owner {
  border-left: 1px solid black;
}

.table-description {
/*  width: 15rem;*/
}

.repo-comparisons-recommendation-item {
  height: inherit;
  max-width: 100%;
  overflow: scroll;
}

.empty-recommendation {
  position: absolute;
  left: 23rem;
  top: 17rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
}